.login {
  min-height: 99.8vh;
  background: #f6faff;
  padding: 16px;
  box-sizing: border-box;
  .card {
    position: relative;
    padding: 200px 60px 280px;
    border-image-source: linear-gradient(180deg, #e9f2ff 0%, #e9eefa 100%);
    box-shadow: 0px 4px 8px 0px #283f651a;
    background: linear-gradient(199.2deg, #3580fd 0%, #c6ecff 50%, #eff6ff 100%);
    border-radius: 60px;
    &.two {
      padding-bottom: 72px;
    }
  }
  .title {
    display: flex;
    align-items: center;
    img {
      width: 180px;
    }
    .p1 {
      margin-left: 20px;
      color: #fff;
      font-size: 36px;
      background: rgb(0, 111, 255);
      border-radius: 8px;
      position: relative;
      padding: 12px 20px;
      &::after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 20px solid rgb(0, 111, 255);
      }
    }
  }
  .topspan {
    margin-top: 30px;
    font-size: 24px;
    color: #5e6a7a;
  }
  .form {
    margin-top: 60px;
    .inputBg {
      margin-top: 32px;
      background: #ffffff;
      border-radius: 24px;
    }
    .phone {
      display: flex;
      align-items: center;
      color: #060b12;
      .code {
        font-size: 28px;
        padding: 38px 0 38px 38px;
        display: flex;
        align-items: center;
        .van-icon {
          padding: 0 10px;
          font-size: 20px;
          transform: rotate(90deg);
        }
      }
      .input {
        flex: 1;
        input {
          width: 100%;
        }
      }
    }
    .input {
      display: flex;
      align-items: center;
      padding: 32px 0;
      ::-webkit-input-placeholder {
        color: #9c9da7;
      }
      img {
        width: 32px;
        height: 32px;
        padding: 0 30px;
      }
      input {
        flex: 1;
        width: 1px;
        background: transparent;
        border: none;
        font-size: 28px;
        color: #333;
      }
      span {
        font-size: 28px;
        color: #006fff;
        padding-right: 38px;
      }
      .van-icon {
        padding: 0 40px;
        font-size: 40px;
      }
    }
  }
  .btn {
    margin-top: 20px;
    background: linear-gradient(270deg, #008cff 0%, #006fff 100%);
    color: #fff;
    text-align: center;
    border-radius: 56px;
    font-size: 36px;
    line-height: 112px;
  }
  .p {
    margin-top: 34px;
    font-size: 24px;
    color: #9c9da7;
    span {
      a {
        margin-left: 10px;
      }
    }
    .a {
      margin-top: 10px;
    }
  }
  .check {
    margin-top: 92px;
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    color: #9c9da7;
    :deep(.van-checkbox__icon) {
      font-size: 28px;
    }
    :deep(.van-checkbox__label) {
      color: #9c9da7;
    }
    a {
      color: #006fff;
      padding: 0 10px;
    }
  }
}
